.board_square {
	-fx-fill: #663300;
}

.board_square_lt {
	-fx-fill: tan;
}

.board_outer {
	-fx-background-color: tan;
}

.connect_tf {
	-fx-background-color: #F0EAD6;
	-fx-text-fill: #421805; 
}

.connect_lbl {
	-fx-text-fill: #421805; 
}

.connect_lbl_active {
	-fx-text-fill: green;
}
